

@{
    ViewData["Title"] = "Index";
}

<div class="modal inmodal in " id="modalItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title" id="modalSnapTitle">Area Information </h4>
                <small class="font-bold">Modify details of this area</small>
            </div>
            <div class="modal-body">
                <input id="itemId" type="hidden" />

                <div class="form-group">
                    <label>No</label>
                    <input class="form-control" id="itemNo"  />
                </div>
                <div class="form-group">

                    <label>List</label>
                    <input class="form-control" id="itemList"  />
                </div>
                <div class="form-group">
                    <label>Office Code</label>
                    <input class="form-control" id="itemOfficeCode"  />
                </div>
                
                <button  data-dismiss="modal" class="btn btn-default">Close</button> 
                <button id="btnSave" class="btn btn-primary" onclick="saveItem();">Save</button>


            </div>
        </div>
    </div>
</div>



<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
           
            <table id="tbl" class="table table-striped table-no-bordered table-hover dataTable" style="width: 100%!important">

                <thead>
                    <tr>
                        <th>No</th>
                        <th>List</th>
                        <th>Office Code</th>
                        

                        <th>Action</th>

                    </tr>
                    <tr>
                        <th>No</th>
                        <th>List</th>
                        <th>Office Code</th>

                        <th></th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>List</th>
                        <th>Office Code</th>

                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    function saveItem() {
        $id = $("#itemId").val();
        $no = $("#itemNo").val();
        $typeList = $("#itemList").val();
        $officeCode = $("#itemOfficeCode").val();

        $.ajax({
                url: "@Url.Action("SaveItem")"
                    , method: "POST"
                    , data: { id: $id, No: $no, List: $typeList, OfficeCode: $officeCode }
                    , dataType: 'json'
                    , success: function (responsedata) {
                        if (responsedata.status == "success") {
                            toastr["success"]("Data saved!", "<b>Success</b> ")
                            loadDatatable();
                        } else {
                            toastr["error"](responsedata.message)
                            toastr.options = {
                                "closeButton": true,
                                "showDuration": "3000",
                            }
                        }
                    }
               })


    }
    $(function () {
        $('#tbl thead tr:eq(1) th').each(function () {
           
            var title = $(this).text();
            if (title == "") {

            } else {
                $(this).html('<input type="search" class="form-control form-control-sm" placeholder="Search ' + title + '" />');
            }
            
        });

        loadDatatable();
    })
   
    function loadDatatable() {


        if ($.fn.DataTable.isDataTable('#tbl')) {
            $('#tbl').DataTable().destroy();
        }

        var table = $("#tbl").DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "fixedHeader": true,
            "ajax": {
                "url": "@Url.Action("getData")",
                "type": "POST", 
                "datatype": "json"
            },
            "columns": [
              
                { "data": "no", "name": "No", "autoWidth": true },
                { "data": "list", "name": "List", "autoWidth": true },
                { "data": "officeCode", "name": "OfficeCode", "autoWidth": true },
               
                {
                    //data-no=' + row.no + ' data - desc=' + row.description + ' data - desc2=' + row.description2 + ' data - descliq=' + row.OfficeCode + ' data - type=' + row.typeList + 
                    render: function (data, type, row) {
                       
                       
                        $no = (row.no == "") ? null : row.no;
                        $list = (row.list == "") ? null : row.list;
                        $officeCode = (row.officeCode == "") ? null : row.officeCode;


                        $actions =
                            "<a title='Edit' data-id=" + row.id + " data-no='" + $no + "' data-list='" + $list + "' data-office='" + $officeCode + "' onclick='showmodal(this);'>Edit</a>";
                      
                        return $actions;
                    }
                }


            ]
            //,
            //"columnDefs": [{ "orderable": false, "targets": [1, 2, 3] }]


        });


        

       
        $('#tbl input').on('keyup change', function (e) {
           
            var keyCode = e.keyCode
            if (keyCode >= 9 && keyCode <= 27) {

            } else {
                searchFunction(this);
            }
        });
        function searchFunction(e) {

            delay(function () {
                console.log(e);
                table.column($(e).parent().index() + ':visible')
                    .search(e.value)
                    .draw();
            }, 1000);
        }
        $("#tbl_filter").hide();
    }

    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    function showmodal(obj) {
        $id = $(obj).attr('data-id');
        $no = $(obj).attr('data-no') == "null" ? "" : $(obj).attr('data-no');
        $list = $(obj).attr('data-list') == "null" ? "" : $(obj).attr('data-list');
        $officeCode = $(obj).attr('data-office') == "null" ? "" : $(obj).attr('data-office');

        console.log(obj);

        $("#itemId").val($id);
        $("#itemNo").val($no);
        $("#itemList").val($list);
        $("#itemOfficeCode").val($officeCode);

        $('#modalItem').modal('show');


    }


    
</script>
